.pall-15{
  padding: 15px;
}
.px-7per{
  padding-left: 7%;
  padding-right: 7%;
}

.mt-30{
  margin-top: 30px;
}

.mt-15{
  margin-top: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.ml-15 {
  margin-left: 15px;
}
.mg-15 {
  margin:15px;
}